<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14409716251-lmj8j2b48ligl4gb7d6u9r5jnsjbbfkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14409716251-lmj8j2b48ligl4gb7d6u9r5jnsjbbfkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDKkOE6b_utUcprG03TFQe_mBbYJ6uszZE</string>
	<key>GCM_SENDER_ID</key>
	<string>14409716251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SeYeong.TheFellowshipOfAnts</string>
	<key>PROJECT_ID</key>
	<string>thefellowshipofants</string>
	<key>STORAGE_BUCKET</key>
	<string>thefellowshipofants.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14409716251:ios:7ddf4d2cdfab54afd31ebe</string>
</dict>
</plist>